{% extends "base.html" %}

{% block content %}
    <h1>Prompt History</h1>
    <table>
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>URL</th>
                <th>Prompt</th>
                <th>Response</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
            <tr>
                <td>[[ entry[1] ]]</td>
                <td>[[ entry[2] ]]</td>
                <td><pre>[[ entry[3] ]]</pre></td>
                <td><pre>[[ entry[4] ]]</pre></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}