{% extends "base_librarian.html" %}

{% block content %}
<div class="flex-1 p-10">
    <h1 class="text-3xl font-bold mb-6">Files</h1>
    
    <div class="bg-white shadow-md rounded-lg p-6">
        {% if files %}
            <table class="w-full">
                <thead>
                    <tr>
                        <th class="text-left pb-4">File Name</th>
                        <th class="text-left pb-4">Size</th>
                        <th class="text-left pb-4">Last Modified</th>
                        <th class="text-left pb-4">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                    <tr>
                        <td class="py-2">{{ file.name }}</td>
                        <td class="py-2">{{ file.size }}</td>
                        <td class="py-2">{{ file.last_modified }}</td>
                        <td class="py-2">
                            <a href="#" class="text-blue-500 hover:underline">View</a>
                            <a href="#" class="text-red-500 hover:underline ml-2">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-gray-500">No files found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}