<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KTDock Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <div class="flex h-screen">
        <!-- Sidebar -->
        <div class="w-64 bg-gray-800 text-white p-4">
            <h1 class="text-2xl font-bold mb-8">KTDock</h1>
            <nav>
                <ul class="space-y-2">
                    <li class="py-2 px-4 {% if request.path == '/profile' %}bg-gray-700{% endif %} rounded"><a href="[[ url_for('profile.profile') ]]">Profile</a></li>
                    <li class="py-2 px-4 {% if request.path == '/files' %}bg-gray-700{% endif %} rounded"><a href="[[ url_for('files_page.user_files') ]]">Files</a></li>
                </ul>
            </nav>
        </div>

        <!-- Main content -->

        <div class="container mx-auto p-6">
            
            <div class="flex justify-between items-center mb-6">
                <div class="flex items-center">
                    {% block title %}{% endblock %}
                </div>
                <div class="flex items-center">
                    <span class="text-gray-700 mr-4">Welcome, [[ user.username ]]</span>
                    <a href="[[ url_for('auth.logout') ]]" class="text-blue-500 hover:text-blue-700">Logout</a>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>