{% extends "base.html" %}

{% block content %}

    <h1>Organizations</h1>
    <a href="[[ url_for('organization_routes.create_organization') ]]" class="btn btn-primary">Create New Organization</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for org in organizations %}
            <tr>
                <td>[[ org.id ]]</td>
                <td>[[ org.name ]]</td>
                <td>[[ org.description ]]</td>

                <td>
                    <a href="[[ url_for('organization_routes.view_organization', org_id=org.id) ]]" class="btn btn-info">View</a>
                    <a href="[[ url_for('organization_routes.edit_organization', org_id=org.id) ]]" class="btn btn-warning">Edit</a>
                    <form action="[[ url_for('organization_routes.delete_organization', org_id=org.id) ]]" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this organization?')">Delete</button>
                    </form>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
